<h2 class="subtitle is-3"><strong>All Teams</strong></h2>
  <hr />
  <ul>
  <% @teams.each do |team| %>
    <li><p class="subtitle is-5"><%= link_to team.name, team %></p></li>
    <p class="subtitle is-6"><%= team.battleground.location %></p>
  <% end %>
  </ul>
  <hr />

  <div class="columns is-centered">
  <%= paginate @teams %></div>
  <br />
  <%= page_entries_info @teams %></div>