<h2 class="title is-3">All Teams</h2>
  <hr />
    <% @teams.each do |team| %>
      <h3 class="title is-5"><%= link_to team.name, team %></h3>
      <h3 class="subtitle is-6 is-spaced"><%= team.battleground.location %></h3>
    <% end %>
  <hr />

  <div class="columns is-centered">
    <%= paginate @teams %></div>
    <br />
  <%= page_entries_info @teams %>