<h2 class="title is-3">All Players</h2>
  <hr />
  <% @players.each do |player| %>
    <h3 class="title is-5"><%= link_to player.name, player %></h3>
    <h3 class="subtitle is-6 is-spaced"><%= player.specialty %></h3>
  <% end %>
  <hr />

  <div class="columns is-centered">
    <%= paginate @players %></div>
    <br />
    <%= page_entries_info @players %>