<h2 class="subtitle is-3"><strong>All Players</strong></h2>
  <hr />
  <ul>
  <% @players.each do |player| %>
    <li><p class="subtitle is-5"><%= link_to player.name, player %></p></li>
    <p class="subtitle is-6"><%= player.specialty %></p>
  <% end %>
  </ul>
  <hr />

  <div class="columns is-centered">
  <%= paginate @players %></div>
  <br />
  <%= page_entries_info @players %></div>