<h2 class="title is-3 is-spaced ">Player</h2>
<hr/>
<h4 class="title is-5"><%= @player.name %> of <%= @player.team.name %></h4>
<h4 class="subtitle is-6">Specialty: <%= @player.specialty %></h4>





