<h2>Battlegrounds</h2>

<ul>
    <% @battlegrounds.each do |battleground| %>
    <li><h3><%= link_to battleground.name, battleground %></h3>
    <p>Location: <%= battleground.location %></p>
    <% end %>
</ul>
