<h2 class="subtitle is-3"><strong>Battlegrounds</strong></h2>
    <ul>
        <% @battlegrounds.each do |battleground| %>
        <li><p class="subtitle is-5"><%= link_to battleground.name, battleground %></p></li>
        <p class="subtitle is-6">Location: <%= battleground.location %></p>
        <% end %>
    </ul>
